<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872639217410-4ecbjjlqoaulgjb4f8glngr0n3priah8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872639217410-4ecbjjlqoaulgjb4f8glngr0n3priah8</string>
	<key>API_KEY</key>
	<string>AIzaSyBNeGBTNpmff--cSgXKWpP6MuQLUq-Xph8</string>
	<key>GCM_SENDER_ID</key>
	<string>872639217410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-my-home-project</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-my-home-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872639217410:ios:058a1d8c0c6b296f6ccc1b</string>
</dict>
</plist>